* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    40deg,
    rgba(242, 169, 0, 1) 10%,
    rgba(211, 143, 0, 1) 20%,
    rgba(180, 117, 0, 1) 35%,
    rgba(150, 93, 0, 1) 45%,
    rgba(120, 69, 0, 1) 55%,
    rgba(91, 47, 0, 1) 65%,
    rgba(64, 26, 0, 1) 80%,
    rgba(39, 2, 0, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
}
